/*this is a comment*/

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right:20px;
}
#navcontainer
{
	float:right;
}
#container
{
	color:white;
}
#profile
{

}
#name
{
	font-family: verdana;
}